.parent {
    background-color: blue;
    display: flex;
    justify-content: space-around; 
    justify-content: space-between; 

    flex-direction: column; /* Changes from displaying items in rows(default) to column */

    height: 300px;
    align-items: center; /* Aligns the items vertically in the center */
}

.parent #A {
    background-color: red;
    height: 30px;
}


.parent #B {
    background-color: yellow;
    height: 30px;
}


.parent #C {
    background-color: gold;
    height: 30px;
}

